.container {
  width: 100%;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.roulette {
  position: relative;
  max-width: 890px;
  border-radius: 10px;
}

.start {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #eb5146;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.2s ease;
  box-shadow: 0 0 30px 0 rgba(255, 118, 118, 0.2);
  cursor: pointer;
}
.start:hover {
  opacity: 0.8;
}

.infoGame {
  display: flex;
  justify-content: space-between;
}

.gameTitle {
  display: flex;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background: linear-gradient(
    170.73deg,
    rgba(32, 92, 100, 0.154) 7.01%,
    rgba(40, 121, 116, 0.2) 101.22%
  );
  color: #66d08a;
  gap: 60px;
}
.gameHash {
  display: flex;
  align-items: center;
  gap: 5px;
}

.information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg);
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(rgb(255 133 0), rgb(255 65 65));
  font-weight: 600;
  gap: 10px;
}
.nicknameWinner {
  color: rgb(255, 217, 65);
}

.actions {
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 15px;
  color: var(--textSoft);
}

.bets {
  display: flex;
  gap: 10px;
}

.autoBets {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.anyBets {
  max-width: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.infoBet {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}
.copy {
  cursor: pointer;
}
