.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bgSoft);
}
.title {
  color: var(--textSoft);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #2e374a;
  padding: 10px;
  border-radius: 10px;
}
.icons {
  display: flex;
  gap: 20px;
}
.icon {
  cursor: pointer;
}
.balance {
  color: #38cd6a;
}
.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
  background-color: teal;
  margin-left: 10px;
  text-transform: uppercase;
}

.buttonSteam {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 10px;
  max-width: 200px;
  background: #171a21;
  cursor: pointer;
  border: none;
}
.buttonSteam span {
  color: white;
}
.balanceBlock {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  background: linear-gradient(
    170.73deg,
    rgba(19, 165, 184, 0.154) 7.01%,
    rgba(5, 236, 220, 0.2) 101.22%
  );
  padding: 8px;
}
